.content-area{
    display: flex;
    flex-direction: column;
}
.top_section{
    width: 100%;
    height: 10%;
    background-color: yellow;
    display: flex;
    justify-content:space-around;
}

.buttom_section{
    height: 100%;
    width: 100%;
    background-color:olivedrab;
    display: flex;
    flex-direction: row;

}


/*sub secsections*/
.lhs{
    background-color: blueviolet;
    width:50%;
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    /*position: relative;*/
}
.rhs{
    background-color: red;
    width:50%;
   height: 100%;
    overflow: show;

}
/*Responsive to various Devices start*/
/*Exactly small devices(phone,600px and down)*/
@media only screen and (max-width:600px){
    .buttom_section{
        display: flex;
        flex-direction: column;
    
    }
    .lhs{
        width: 100%;
        
    }
    .rhs{
        width: 100%;
        
    }

}
/*small devices(portiait tablets and large phones,600px and up)*/
@media only screen and (min-width:600px){
    .buttom_section{
        display: flex;
        flex-direction: column;
    
    }
    .lhs{
        width: 100%;
        
    }
    .rhs{
        width: 100%;
    }

}
/*medium devices(landscape tablets,768px and up)*/
@media only screen and (min-width:768px){
    .buttom_section{
        display: flex;
        flex-direction: row;
    
    }
    .lhs{
        width: 50%;
    }
    .rhs{
        width: 50%;
    }

}
/*large devices(laptops/desktops,992px and up)*/
@media only screen and (min-width:992px){
    .buttom_section{
        display: flex;
        flex-direction: row;
    
    }
    .lhs{
        width: 50%;
    }
    .rhs{
        width: 50%;
    }

}
/*Extreamly large devices(large laptops/desktops,1200px and up)*/
@media only screen and (min-width:1200px){
    .buttom_section{
        display: flex;
        flex-direction: row;
    }
    .lhs{
        width: 50%;
    }
    .rhs{
        width: 50%;
    }

}
/*Responsive to various Devices end*/
/*
.lf1{
    background-color: red;
    width:50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}
.rf2{
    background-color: blue;
    width:50%;
    height: 100%;
    display: flex;
    flex-direction: column;
align-items: center;
justify-content: space-around;
}
.rf2 rf2-t1{
    background-color: brown;
    height:20%;
}
.rf2 rf2-t2{
    background-color:rgb(11, 11, 11);
    height:80%;
}
.lf1-container{
    background-color: green;
    width:80%;
    height:80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    }