/*display container start*/
.dis_view{
    background-color: #fff;
    width: 90%;
    height:90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*overflow: hidden;*/
}
/*display container end*/