 /*tab view st */
 .tab-box{
   /* margin:5px;*/
   
  }
  .tab_container{
    
    /*margin:40px;*/
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
    
  }
  #toggle_btn{
    background:transparent;
    border:1px solid #fff;
    border-radius:20px 10px;
    font-family:'times new roman',serif;
    font-size:20px;
    background:linear-gradient(to bottom right,#1a8cff,#99ccff,#99ccff,#1a8cff);
    color:#fff;
    width:120px;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
    top:0px;
    left:20px;
    /*margin:5px;*/
  }
  iframe{
    width:100%;
    height:100%;
    border:none;
  }
  .landscape{
    width:768px;
    height:573px;
   
    /*width:90vw;
    height:35vh;*/
  }
  .landscape .tab_frame{
    background-color:black;
    width:100%;
    height:100%;
    border:0.1 solid gray;
    padding:10px 15px;
    border-radius:10px;
    box-shadow: 0 0 0 2px rgba(255,255,255,0.3), 
      0 0 0 3px gray, 
      0 0 30px rgba(0,0,0,0.3);
    position: relative;
  }
  .landscape .tab_camera{
    top: 50%;
    right:0.5%;
    transform: translateY(-50%);
  }
  .landscape .tab_screen{
    background-color:white;
    width:100%;
    height:100%;
    /*   padding:15px; */
    border-radius:10px;
  }
  .tab_label{
    color:silver;
    font-family:'Brush sciprt Mt',cursive;
  }
  .landscape .tab_label{
    color:silver;
    font-family:'Brush sciprt Mt',cursive;
    transform:rotate(90deg);
    position:absolute;
    top: 46%;
    left:0%;
    font-size:0.4em;
  }
  .tab_camera{
    height: 8px;
    width: 8px;
    background: linear-gradient(270deg, #4a4a4a, transparent);
    border-radius: 50%;
    position: absolute;
    display: -webkit-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .camera_eye{
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background: #0045ad;
  }
  /* tab portrait st */
  .portrait{
    min-width:573px;
    height:768px;
    
    /*width:90vw;
    height:70vh;*/
  }
  .portrait .tab_frame{
    background-color:black;
    width:100%;
    height:100%;
    border:0.1 solid gray;
    padding:15px 10px;
    border-radius:10px;
    box-shadow: 0 0 0 2px rgba(255,255,255,0.3), 
      0 0 0 3px gray, 
      0 0 30px rgba(0,0,0,0.3);
    position: relative;
  }
  .portrait .tab_camera{
    top: 0.5%;
    left: 50%;
    transform: translateX(-50%);
  }
  .portrait .tab_screen{
    background-color:white;
    width:100%;
    height:100%;
    border-radius:10px;
  }
  .portrait .tab_label{
    color:silver;
    font-family:'Brush sciprt Mt',cursive;
    transform: translateX(50%);
    position: absolute;
    top:98%;
    left: 42%;
    font-size:0.8em;
  }
  @media only screen and (max-width:600px){
    .landscape{
      transform:scale(0.4);
    }
    .portrait{
      transform:scale(0.4);
    }
    #toggle_btn{
      z-index:999;
      position:relative;
      top:1px;
      left:0px;
      margin:2px;
    }
    .tab-box{
      display:grid;
      justify-content:space-around;
      align-items:center;
      position:relative;
      bottom:165px;
      margin:0px;
    }
    .landscape .tab_label{
      font-size:0.2em;
    }
    .tab_container{
      /*border:2px solid blue;*/
      height:70vh;
      overflow:hidden;
      margin:0px;
    }
  }
  /*  tab portrait ed*/
  /* tab view end*/